{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="container">
        <form action="{% url 'login' %}" method="POST" class="form shadow p-3 mb-5 bg-body-tertiary rounded">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Enter Username" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" name="password" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

{% endblock %}
